<div class="container-fluid">
    <div class="row justify-content-center align-items-center flex-column py-5 mb-5 articles-container">
        <h1 class='font yellow p-4 mb-5'>Comunicate</h1>
        <% @articles.each do |a| %>
            <div class="col-10 col-md-8 col-lg-7 my-2 p-5 font yellow bck-blue round-border article-body">
                <p><%= a.body %></p>
                <p><%= a.created_at.to_s.split(' ').first %></p>
                <% if current_user %>
                  <div class="news-edit">
                    <%= link_to 'edit', edit_article_path(a) %>
                    <%= link_to 'del', article_path(a), method: :delete %>
                  </div>
                <% end %>
            </div>
        <% end %>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-10 col-md-8 col-lg-7 mb-5">
            <% if current_user %>
                <%= render 'shared/create_article' %>
            <% end  %>
        </div>

    </div>
</div>