<div class="design">
    <% 50.times do %>
            <div class="big-circle" style="bottom:<%=rand(10..1000)%>px; left:<%=rand(10..1500)%>px"></div>
    <% end %>
    <% 100.times do %>
            <div class="mid-circle" style="bottom:<%=rand(10..1000)%>px; left:<%=rand(10..1500)%>px"></div>
    <% end %>
    <% 200.times do %>
            <div class="sm-circle" style="bottom:<%=rand(10..1000)%>px; left:<%=rand(10..1500)%>px"></div>
    <% end %>
</div>

<% 20.times do %>
        <div class="big-circle-blue" style="bottom:<%=rand(10..300)%>px; left:<%=rand(10..1500)%>px"></div>
<% end %>
<% 30.times do %>
        <div class="mid-circle-blue" style="bottom:<%=rand(10..300)%>px; left:<%=rand(10..1500)%>px"></div>
<% end %>
<% 100.times do %>
        <div class="sm-circle-blue" style="bottom:<%=rand(10..300)%>px; left:<%=rand(10..1500)%>px"></div>
<% end %>
