<!-- <div class="about-main d-flex flex-column justify-content-center">
    <p class='text-center font yellow'>Still thinking about it...</p>
    <%= image_tag('undraw_developer_activity_bv83.svg', class: 'd-block') %>
</div> -->

<div class="container-fluid about-container font ">
    <div class="row justify-content-center">
        <div class="col yellow mb-5">
            <p class="text-center m-0">Aqua Club</p>
            <p class="text-center m-0 about-p-font">Bacău, str. Lunca Bistriței, nr. 1</p>
            <p class="text-center m-0 about-p-font">telefon: +4 0745 377 149 • e-mail; office@markov.ro</p>
            <p class="text-center m-0 about-p-font">MARKOV SERVICES S.A. • J04/32/1991 • RO947854</p>
        </div>
    </div>
    <hr class='bck-yellow mb-4'>
    <div class="row">
        <div class="col d-flex about-images-container scroll-x">
            <div class="photo">
                <%= image_tag('aquaAnsamblu.png', class:'mr-4 round-border') %>
                <div class='font yellow round-border'>
                    <p id='photo-title'>Aqua Club</p>
                    <p class='photo-describe'>suprafața plajă: 2700mp</p>
                    <p class='photo-describe'>suprafață apă: aprox. 880mp</p>
                </div>
            </div>
            <div class="photo">
                <%= image_tag('aquaPiscina1.png', class:'mr-4 round-border') %>
                <div class='font yellow round-border'>
                    <p id='photo-title'>Piscina cu valuri</p>
                    <p class='photo-describe'>suprafața: 330mp</p>
                    <p class='photo-describe'>adâncime: 1m-1.5m</p>
                </div>
            </div>
            <div class="photo">
                <%= image_tag('aquaPiscina7.png', class:'mr-4 round-border') %>
                <div class='font yellow round-border'>
                    <p id='photo-title'>Piscina pentru înot semi-olimpică</p>
                    <p class='photo-describe'>suprafața: 200mp</p>
                    <p class='photo-describe'>adâncime: 1.5m</p>
                </div>
            </div>
            <div class="photo">
                <%= image_tag('aquaPiscina5.png', class:'mr-4 round-border') %>
                <div class='font yellow round-border'>
                    <p id='photo-title'>Piscina cu tobogane pentru copii</p>
                    <p class='photo-describe'>suprafața: 144mp</p>
                    <p class='photo-describe'>adâncime: 0.4m-1m</p>
                </div>
            </div>
            <div class="photo">
                <%= image_tag('aquaPiscina2&3.png', class:'mr-4 round-border') %>
                <div class='font yellow round-border'>
                    <p id='photo-title'>Piscinele pentru înot & copii</p>
                    <p class='photo-describe'>suprafața: 120mp ● 9mp</p>
                    <p class='photo-describe'>adâncime: 1m-1.5m ● 0.4m</p>
                </div>
            </div>
            <div class="photo">
                <%= image_tag('https://via.placeholder.com/400x225.png?text=Piscina+volei', class:'mr-4 round-border') %>
                <div class='font yellow round-border'>
                    <p id='photo-title'>Piscina pentru volei</p>
                    <p class='photo-describe'>suprafața: 30mp</p>
                    <p class='photo-describe'>adâncime: 1.2m-1.5m</p>
                </div>
            </div>
            <div class="photo">
                <%= image_tag('https://via.placeholder.com/400x225.png?text=Piscina+înot+contra+curent', class:'mr-4 round-border') %>
                <div class='font yellow round-border'>
                    <p id='photo-title'>Piscina pentru înot contra curentului</p>
                    <p class='photo-describe'>suprafața: 40mp</p>
                    <p class='photo-describe'>adâncime: 1.5m</p>
                </div>
            </div>
        </div>
    </div>
    <hr class='bck-yellow'>
</div>