<!-- <div class="about-main d-flex flex-column justify-content-center">
    <p class='text-center font yellow'>Still thinking about it...</p>
    <%= image_tag('undraw_developer_activity_bv83.svg', class: 'd-block') %>
</div> -->

<div class="container-fluid about-container font">
    <div class="row justify-content-center">
        <div class="col yellow mb-3 text-center">
            <p class="m-0">Aqua Club</p>
            <div class='d-flex justify-content-center'>
                <p class='m-0 about-p-font mb-3 about-motto'>#varaastafacemvaluri</p>
            </div>
            <p class="m-0 about-p-font">Bacău, str. Lunca Bistriței, nr. 1</p>
            <p class="m-0 about-p-font"><i class="fas fa-phone"></i> +4 0745 377 149  <i class="fas fa-envelope-open-text ml-3"></i> office@markov.ro</p>
            <p class="m-0 about-p-font">MARKOV SERVICES S.A. • J04/32/1991 • RO947854</p>
        </div>
    </div>
    <hr class='bck-yellow mb-4'>
    <div class="row">
        <div class="col d-flex about-images-container scroll-x f-w-light-y">
            <div class="photo">
                <%= image_tag('aquaAnsamblu.png', class:'mr-4 round-border') %>
                <div class='font yellow round-border'>
                    <p class='photo-title'>Aqua Club</p>
                    <p class='photo-describe'>suprafața plajă: 2800mp</p>
                    <p class='photo-describe'>suprafață apă: aprox. 880mp</p>
                </div>
            </div>
            <div class="photo">
                <%= image_tag('aquaTerasa.png', class:'mr-4 round-border') %>
                <div class='font yellow round-border'>
                    <p class='photo-title'>Terasa Aqua Club</p>
                    <p class='photo-describe'>suprafața: 120mp</p>
                    <p class='photo-describe'>locuri: 72</p>
                </div>
            </div>
            <div class="photo">
                <%= image_tag('aquaPiscina1.png', class:'mr-4 round-border') %>
                <div class='font yellow round-border'>
                    <p class='photo-title'>Piscina cu valuri</p>
                    <p class='photo-describe'>suprafața: 330mp</p>
                    <p class='photo-describe'>adâncime: 1m-1.5m</p>
                </div>
            </div>
            <div class="photo">
                <%= image_tag('aquaPiscina7.png', class:'mr-4 round-border') %>
                <div class='font yellow round-border'>
                    <p class='photo-title'>Piscina pentru înot semi-olimpică</p>
                    <p class='photo-describe'>suprafața: 200mp</p>
                    <p class='photo-describe'>adâncime: 1.5m</p>
                </div>
            </div>
            <div class="photo">
                <%= image_tag('aquaPiscina5.png', class: 'mr-4 round-border') %>
                <div class='font yellow round-border'>
                    <p class='photo-title'>Piscina cu tobogane pentru copii</p>
                    <p class='photo-describe'>suprafața: 144mp</p>
                    <p class='photo-describe'>adâncime: 0.4m-1m</p>
                </div>
            </div>
            <div class="photo">
                <%= image_tag('aquaPiscina2&3.png', class: 'mr-4 round-border') %>
                <div class='font yellow round-border'>
                    <p class='photo-title'>Piscinele pentru înot & copii</p>
                    <p class='photo-describe'>suprafața: 120mp ● 9mp</p>
                    <p class='photo-describe'>adâncime: 1.7m-2.2m ● 0.4m</p>
                </div>
            </div>
            <div class="photo">
                <%= image_tag('https://via.placeholder.com/400x225.png?text=Piscina+volei', class:'mr-4 round-border') %>
                <div class='font yellow round-border'>
                    <p class='photo-title'>Piscina pentru volei</p>
                    <p class='photo-describe'>suprafața: 30mp</p>
                    <p class='photo-describe'>adâncime: 1.2m-1.5m</p>
                </div>
            </div>
            <div class="photo">
                <%= image_tag('aquaPiscina6.png', class:'mr-4 round-border') %>
                <div class='font yellow round-border'>
                    <p class='photo-title'>Piscina pentru înot contra curentului</p>
                    <p class='photo-describe'>suprafața: 40mp</p>
                    <p class='photo-describe'>adâncime: 1.5m</p>
                </div>
            </div>
        </div>
    </div>
    <hr class='bck-yellow mb-2'>
    <div class="row">
        <div class="col-12 col-sm-6 d-flex flex-column align-items-start yellow mt-5 text-justify">
            <p class="about-history">Scurt istoric al Aqua Club...</p>
            <p class="about-history"><span class='blue bck-yellow f-w-light px-2 py-1 round-border mr-2'>2004</span> 
                                    Se inaugurează prima piscină din cadrul complexului Aqua Club.
            </p>
            <p class="about-history"><span class='blue bck-yellow f-w-light px-2 py-1 round-border mr-2'>2007</span> 
                                    Se adaugă piscina pentru volei și se mărește suprafața de plajă.
            </p>
            <p class="about-history"><span class='blue bck-yellow f-w-light px-2 py-1 round-border mr-2'>2009</span> 
                                    Piscina pentru înot contra curentului și cea cu tobogane pentru copii
                                    sunt date în folosință în iunie. Are loc a doua mărire a zonei de plajă 
                                    și se construiește terasa.
            </p>
            <p class="about-history"><span class='blue bck-yellow f-w-light px-2 py-1 round-border mr-2'>2011</span> 
                                    Piscina semi-olimpică este dată în folosință în ciuda problemelor întâmpinate 
                                    atât în procesul de autorizare, cât și în cel de construcție. Plaja câștigă cca. 500mp
            </p>
            <p class="about-history"><span class='blue bck-yellow f-w-light px-2 py-1 round-border mr-2'>2014</span>
                                    În 2013 hotărâm în cadrul unei ședințe a C.A. să facem pasul către statutul
                                    de aqua park prin construcția unei piscine cu valuri.
            </p>
            <p class="about-history">
                                    Wow Company din Belgia posesoarea unui brevet de invenție pentru un sistem de valuri revoluționar ne-a convins,
                                    iar după vizita la Nannine din octombrie 2013, împreună cu ei, cu arhitectul Tiberiu Manoliu și cu fantastica 
                                    societate de construcții CONCIB condusă de Mihai Boacă și Gheorghe Burduja am proiectat, autorizat și realizat 
                                    investiția în timp record. </p>
            <p class="about-history">        
                                    În mai 2014 eram în teste, iar în luna iunie piscina cu valuri a fost complet 
                                    funcțională. </p>
            <p class="about-history">                     
                                    Suprafața de plajă a beneficiat de cea mai mare extindere ajungând la 2800mp.
            </p>
            <p class="about-history"><span class='blue bck-yellow f-w-light px-2 py-1 round-border mr-2'>2015</span>Se reface integral restaurantul și se construiește actuala terasă.</p>
            <p class="about-history">Între 2003-2014 am investit peste 1.25 milioane de euro și am creat Aqua Club.</p>
            <p class="about-history">Vă mulțumim!</p>
        </div>
        <div class="col-12 col-sm-6 d-flex flex-column align-items-center justify-content-center">
            <%= image_tag('foca.png', id: 'foca') %>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col mb-5">
            <p class='about-p-font mb-5 yellow text-center'>&copy MARKOV SERVICES S.A. 2004 - <%= Date.today().year %></p>
        </div>
    </div>
</div>