<div class="container-fluid desktop position-relative blue">
  <div class="row mt-md-2 mt-xl-0 home-master justify-content-around mx-2">
    <!-- video div -->
    <div class="col-12 col-sm-11 mb-sm-5 mt-sm-4 col-xl-4 video-div home-div d-flex justify-content-center align-items-center rounded-border box-shadow">
      <video id='home-video' class='rounded-border' autoplay loop muted playsinline>
        <source src='<%= video_path('aqua.WebM') %>' type='video/webm;codecs="vp8,vorbis"'>
        <source src='https://res.cloudinary.com/www-aquaclub-ro/video/upload/v1592901665/aqua_kiqw88.mp4'>
      </video>
      
    </div>
    <!-- news div -->
    <div class="col-12 col-sm-6 col-xl-4 home-div mb-md-5 bck-yellow box-shadow news-container">
      <h1 class='font text-center blue font-weight mt-4 mb-3 news-div'><i class="fas fa-newspaper mr-3"></i>News</h1>
      <div class="articles scroll bck-yellow p-0 round-border">
          <% @articles.each do |a| %>
          <div class="article font bck-blue yellow round-border my-3">
            <p class='pt-3 px-3'><%= a.body %></p>
            <hr class='bck-yellow m-0'>
            <p class='pl-3 pb-2 m-0'><%= a.created_at.to_s.split(' ').first.split('-').reverse().join('-') %></p>
            <% if current_user %>
              <div class="news-edit">
                <%= link_to 'edit', edit_article_path(a) %>
                <%= link_to 'del', article_path(a), method: :delete %>
              </div>
            <% end %>
          </div>
          <% end %>
          <%= link_to '👉articole mai vechi', articles_path, class: 'text-center font d-block text-center' %>
      </div>
    </div>
   <!-- nav div -->
    <div class="col-12 col-sm-4 col-xl-3 home-3rd-div mb-md-5 d-flex flex-column p-0">
      <div class="row home-div d-flex align-content-between justify-content-center">
        <div class='col-11 about box-shadow' data-toggle="modal" data-target="#covid-19">
          <p class='font text-center m-0 d-flex justify-content-center align-items-center blue font-weight' ><i class="fas fa-virus mr-3"></i> Covid-19</p>
        </div>
        <div class="col-11 box-shadow rules">
          <%= link_to rules_path do %>
            <p class='font text-center m-0 d-flex justify-content-center align-items-center blue font-weight' ><i class="fas fa-swimming-pool mr-3"></i> Regulament</p>
          <% end %>
        </div>
        <div class="col-11 font-weight box-shadow prices" data-toggle="modal" data-target="#prices">
          <p class='font text-center m-0 d-flex justify-content-center align-items-center blue'><i class="fas fa-coins mr-3"></i> Prețuri</p>
        </div>
        <div class='col-11 about box-shadow' data-toggle="modal" data-target="#about">
          <p class='font text-center m-0 d-flex justify-content-center align-items-center blue font-weight' ><i class="fas fa-info-circle mr-3"></i> Despre noi</p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>