<!DOCTYPE html>
<html lang='ro'>
  <head>
    <title>Aqua Club 🏊 Bacau</title>
    <meta name="author" content="Ursache Constantin Gabriel">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="description" content="Piscinele Aqua Club din Bacau. Aqua Club este un complex cu șapte piscine situat în municipiul Bacău, str. Lunca Bistriței, nr. 1. Printre atracții se numără o piscină cu valuri și una cu tobogane pentru copii.">
    <meta name="keywords" content="aqua, club, piscina, piscine, bacau, val, valuri, sezlong, plaja, mare, apa, muzica, distractie, pool, wave, bar, terasa, fast-food, burger">
    <meta name=”robots” content=”index, follow”>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/design_shape' %>
    <%= render 'shared/modal_covid' %>
    <%= render 'shared/modal_prices' %>
    <%= render 'shared/footer' %>
  </body>
</html>
